AI_Supervisor.json
{
  "name": "AI_Supervisor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "842761ca-7bb7-468c-b298-53fe3f57604b",
      "name": "When chat message received",
      "webhookId": "104cf980-acba-4df6-8a76-74c27beff999"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "c49c2894-64d6-48a7-8efb-aa6ec8cd2f1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        140,
        180
      ],
      "id": "b5d54ad2-20c0-4b72-929a-fee40d17a781",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "efKeSGgk1pQgEsH8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ],
      "id": "06a4b06a-2148-42db-831f-3d5651a26a33",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        520,
        160
      ],
      "id": "cd2ec019-7d8b-432c-a4f9-30f60cb3da51",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        420,
        240
      ],
      "id": "621c3bda-6aae-485c-b8e3-0004defa371b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "oJqtKZMLvZ103COk",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0de312bd-d7d2-4218-af75-0bf7a09c3566",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1b8639817ca43b23a961607b55bb39c88775653d175f11a7214af8afcab01a1"
  },
  "id": "wkx6VNTa4VIDmQpM",
  "tags": []
}